[Unit]
Description=kibana Server
After=network.target

[Service]
Type=simple
PIDFile=/home/ubuntu/kibana-4.4.1-linux-x64/kibana.pid
ExecStart=/home/ubuntu/kibana-4.4.1-linux-x64/bin/kibana
ExecStop=/bin/kill -9 `ps -ef | grep kibana | grep -v grep | awk '{print $2}'`

Restart=on-failure
RestartSec=30

[Install]
WantedBy=default.target
